*.iml
.gradle
/local.properties
*.log
/.idea
/build
/captures
/.externalNativeBuild
/.cxx
local.properties
*.apk
output.json
*.iml
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
*.jks
*.keystore
google-services.json
*.hprof
/.gradle
